In [632]:
import numpy as np
import pandas as pd
import re

In [631]:
import chardet
with open("autos.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'Windows-1252', 'confidence': 0.73, 'language': ''}

In [633]:
df = pd.read_csv("autos.csv",encoding="Windows-1252")

In [634]:
df

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

#Renaming and lowercasing Column names

In [635]:
def rename_coulmns(col):
    col = col.replace('registraion year','registration_year')
    col = col.replace('registration __month','registration_month')
    col = col.replace('unrepaired','notRepairedDamage')
    col = col.replace('datecreated','date_created')
    col = re.sub( '(?<!^)(?=[A-Z])', '_', col ).lower()
    return col

In [636]:
df.columns = [rename_coulmns(cols) for cols in df.columns]
df.columns

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'year_of_registration', 'gearbox', 'power_p_s', 'model',
       'odometer', 'month_of_registration', 'fuel_type', 'brand',
       'not_repaired_damage', 'date_created', 'nr_of_pictures', 'postal_code',
       'last_seen'],
      dtype='object')

In [637]:
df.describe(include="all")

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,year_of_registration,gearbox,power_p_s,model,odometer,month_of_registration,fuel_type,brand,not_repaired_damage,date_created,nr_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-04-02 11:37:04,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

In [638]:
#Drop the picture column
df.drop(["nr_of_pictures"],axis=1,inplace=True)
df

#change only one column

df.rename(columns = {"not_repaired_damage":"unrepaired"}, inplace=True)
df

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,year_of_registration,gearbox,power_p_s,model,odometer,month_of_registration,fuel_type,brand,unrepaired,date_created,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,39218,2016-04-01 14:38:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,45897,2016-04-06 21:18:48

In [639]:
df.drop(df[(df['year_of_registration'] <1500.000000)].index, inplace=True)
df.drop(df[(df['month_of_registration'] == df['month_of_registration'].min())].index, inplace=True)
df.drop(df[(df['year_of_registration'] ==df['year_of_registration'].max())].index, inplace=True)

df.describe(include="all")

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,year_of_registration,gearbox,power_p_s,model,odometer,month_of_registration,fuel_type,brand,unrepaired,date_created,postal_code,last_seen
count,44923,44923,44923,44923,44923,44923,41782,44923.000000,43554,44923.000000,43067,44923,44923.000000,42292,44923,38139,44923,44923.000000,44923
unique,43469,34407,2,1,2318,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,36071
top,2016-03-23 19:38:20,Volkswagen_Golf_1.4,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,2016-04-07 06:17:27
freq,3,75,44922,44923,827,23131,12078,NaN,33800,NaN,3582,28680,NaN,27628,9435,33898,1765,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.896868,NaN,121.944705,NaN,NaN,6.370078,NaN,NaN,NaN,NaN,51118.112548,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.175760,NaN,218.191529,NaN,NaN,3.349134,NaN,NaN,NaN,NaN,25742.796870,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1800.000000,NaN,0.000000,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,75.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,30855.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004.000000,NaN,110.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,50127.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,71737.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6200.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,99998.000000,NaN

In [640]:
pd.to_numeric(df['price'].replace("[^0-9\.-]","",regex=True,inplace= True))
df["price"].tail()

49995    24900
49996     1980
49997    13200
49998    22900
49999     1250
Name: price, dtype: object

In [641]:
df['odometer'] = df['odometer'].str.replace('\D+', '',regex = True).astype(float)

In [642]:
df.rename(columns = {"odometer":"odometer_km"}, inplace=True)
df.columns

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'year_of_registration', 'gearbox', 'power_p_s', 'model',
       'odometer_km', 'month_of_registration', 'fuel_type', 'brand',
       'unrepaired', 'date_created', 'postal_code', 'last_seen'],
      dtype='object')

In [643]:
print(df['price'].unique().shape)
print(df['price'].describe())
print(df['price'].value_counts().head(15))

(2318,)
count     44923
unique     2318
top           0
freq        827
Name: price, dtype: object
0       827
1500    633
500     631
2500    569
1200    543
1000    513
3500    450
600     432
800     407
2000    394
999     388
850     363
4500    362
750     360
650     353
Name: price, dtype: int64

In [644]:
#Drop all the price==$0

df.drop(df[df['price'] == df['price'].min()].index,axis=0, inplace=True)

In [645]:
print(df['price'].value_counts().sort_index(ascending=False).head(1000))

99999999      1
999999        2
999990        1
9999        120
9998          2
           ...
34000         8
3400        130
340           8
33999         3
33990         3
Name: price, Length: 1000, dtype: int64

In [646]:
#Convert prices from object to floats
df["price"] = df["price"].astype(float)

In [647]:
df["price"]

0         5000.0
1         8500.0
2         8990.0
3         4350.0
4         1350.0
          ...
49995    24900.0
49996     1980.0
49997    13200.0
49998    22900.0
49999     1250.0
Name: price, Length: 44096, dtype: float64

In [648]:
#Drop all the prices>350,000

df.drop(df[(df['price'] >350000)].index, inplace=True)
df.price.value_counts().sort_index(ascending=True).head(100)

1.0      88
2.0       1
3.0       1
5.0       1
9.0       1
         ..
380.0    20
385.0     1
388.0     1
390.0    23
395.0     2
Name: price, Length: 100, dtype: int64

In [649]:
df["price"].describe()

count     44084.000000
mean       6237.739588
std        9280.728848
min           1.000000
25%        1399.000000
50%        3400.000000
75%        7900.000000
max      350000.000000
Name: price, dtype: float64

In [650]:
def clean_data(dataframe):
        dataframe.drop(["seller"],axis=1,inplace=True)
        dataframe.drop(dataframe[(dataframe['price'] >350000)].index, inplace=True)
        dataframe["price"] = dataframe["price"].astype(float)
        dataframe.drop(["offer_type"],axis = 1, inplace=True)
        dataframe.drop(dataframe[dataframe['price'] == dataframe['price'].min()].index,axis=0, inplace=True)
        dataframe['odometer'] = dataframe['odometer'].str.replace('\D+', '',regex = True).astype(float)
        dataframe.drop(dataframe[(dataframe['year_of_registration'] <1500.000000)].index, inplace=True)
        dataframe.drop(dataframe[(dataframe['month_of_registration'] == dataframe['month_of_registration'].min())].index, inplace=True)
        dataframe.drop(dataframe[(dataframe['year_of_registration'] ==dataframe['year_of_registration'].max())].index, inplace=True)
# clean_data(df)

In [651]:
df.rename(columns = {"year_of_registration":"registration_year","month_of_registration":"registration_month"}, inplace=True)
df

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_p_s,model,odometer_km,registration_month,fuel_type,brand,unrepaired,date_created,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,5000.0,control,bus,2004,manuell,158,andere,150000.0,3,lpg,peugeot,nein,2016-03-26 00:00:00,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,8500.0,control,limousine,1997,automatik,286,7er,150000.0,6,benzin,bmw,nein,2016-04-04 00:00:00,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,8990.0,test,limousine,2009,manuell,102,golf,70000.0,7,benzin,volkswagen,nein,2016-03-26 00:00:00,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350.0,control,kleinwagen,2007,automatik,71,fortwo,70000.0,6,benzin,smart,nein,2016-03-12 00:00:00,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,1350.0,test,kombi,2003,manuell,0,focus,150000.0,7,benzin,ford,nein,2016-04-01 00:00:00,39218,2016-04-01 14:38:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,24900.0,control,limousine,2011,automatik,239,q5,100000.0,1,diesel,audi,nein,2016-03-27 00:00:00,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,1980.0,control,cabrio,1996,manuell,75,astra,150000.0,5,benzin,opel,nein,2016-03-28 00:00:00,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,13200.0,test,cabrio,2014,automatik,69,500,5000.0,11,benzin,fiat,nein,2016-04-02 00:00:00,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,22900.0,control,kombi,2013,manuell,150,a3,40000.0,11,diesel,audi,nein,2016-03-08 00:00:00,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,1250.0,control,limousine,1996,manuell,101,vectra,150000.0,1,benzin,opel,nein,2016-03-13 00:00:00,45897,2016-04-06 21:18:48

In [652]:
df[["date_crawled","date_created","last_seen"]].head()

          date_crawled         date_created            last_seen
0  2016-03-26 17:47:46  2016-03-26 00:00:00  2016-04-06 06:45:54
1  2016-04-04 13:38:56  2016-04-04 00:00:00  2016-04-06 14:45:08
2  2016-03-26 18:57:24  2016-03-26 00:00:00  2016-04-06 20:15:37
3  2016-03-12 16:58:10  2016-03-12 00:00:00  2016-03-15 03:16:28
4  2016-04-01 14:38:50  2016-04-01 00:00:00  2016-04-01 14:38:50

In [653]:
def change_date(data):
    data["date_created"]=pd.to_datetime(df["date_created"]).dt.normalize()
    data["last_seen"]=pd.to_datetime(df["date_created"]).dt.normalize()
    return data

In [654]:
change_date(df)

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_p_s,model,odometer_km,registration_month,fuel_type,brand,unrepaired,date_created,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,5000.0,control,bus,2004,manuell,158,andere,150000.0,3,lpg,peugeot,nein,2016-03-26,79588,2016-03-26
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,8500.0,control,limousine,1997,automatik,286,7er,150000.0,6,benzin,bmw,nein,2016-04-04,71034,2016-04-04
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,8990.0,test,limousine,2009,manuell,102,golf,70000.0,7,benzin,volkswagen,nein,2016-03-26,35394,2016-03-26
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350.0,control,kleinwagen,2007,automatik,71,fortwo,70000.0,6,benzin,smart,nein,2016-03-12,33729,2016-03-12
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,1350.0,test,kombi,2003,manuell,0,focus,150000.0,7,benzin,ford,nein,2016-04-01,39218,2016-04-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,24900.0,control,limousine,2011,automatik,239,q5,100000.0,1,diesel,audi,nein,2016-03-27,82131,2016-03-27
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,1980.0,control,cabrio,1996,manuell,75,astra,150000.0,5,benzin,opel,nein,2016-03-28,44807,2016-03-28
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,13200.0,test,cabrio,2014,automatik,69,500,5000.0,11,benzin,fiat,nein,2016-04-02,73430,2016-04-02
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,22900.0,control,kombi,2013,manuell,150,a3,40000.0,11,diesel,audi,nein,2016-03-08,35683,2016-03-08
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,1250.0,control,limousine,1996,manuell,101,vectra,150000.0,1,benzin,opel,nein,2016-03-13,45897,2016-03-13

In [608]:
# np.dtype('datetime64[ns]') == np.dtype('<M8[ns]')
# df["date_crawled"].dtypesdf
df.shape[0]

44084

In [655]:
df["registration_year"].between(1900,2016).sum()/df.shape[0]

0.967584611196806

In [656]:
# df = df[df['registration_year'].between(1900, 2016)]
df["registration_year"].value_counts(normalize=True).mul(100).round(2).astype(str)+"%"

2005    6.12%
1999    5.93%
2000    5.88%
2004    5.87%
2006    5.84%
        ...
1943     0.0%
1931     0.0%
1948     0.0%
1934     0.0%
4800     0.0%
Name: registration_year, Length: 85, dtype: object

In [657]:
df

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_p_s,model,odometer_km,registration_month,fuel_type,brand,unrepaired,date_created,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,5000.0,control,bus,2004,manuell,158,andere,150000.0,3,lpg,peugeot,nein,2016-03-26,79588,2016-03-26
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,8500.0,control,limousine,1997,automatik,286,7er,150000.0,6,benzin,bmw,nein,2016-04-04,71034,2016-04-04
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,8990.0,test,limousine,2009,manuell,102,golf,70000.0,7,benzin,volkswagen,nein,2016-03-26,35394,2016-03-26
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350.0,control,kleinwagen,2007,automatik,71,fortwo,70000.0,6,benzin,smart,nein,2016-03-12,33729,2016-03-12
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,1350.0,test,kombi,2003,manuell,0,focus,150000.0,7,benzin,ford,nein,2016-04-01,39218,2016-04-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,24900.0,control,limousine,2011,automatik,239,q5,100000.0,1,diesel,audi,nein,2016-03-27,82131,2016-03-27
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,1980.0,control,cabrio,1996,manuell,75,astra,150000.0,5,benzin,opel,nein,2016-03-28,44807,2016-03-28
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,13200.0,test,cabrio,2014,automatik,69,500,5000.0,11,benzin,fiat,nein,2016-04-02,73430,2016-04-02
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,22900.0,control,kombi,2013,manuell,150,a3,40000.0,11,diesel,audi,nein,2016-03-08,35683,2016-03-08
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,1250.0,control,limousine,1996,manuell,101,vectra,150000.0,1,benzin,opel,nein,2016-03-13,45897,2016-03-13

In [658]:
top_brands= df["brand"].value_counts(normalize=True).round(3)
most_common_brands = top_brands[top_brands>0.05].index
most_common_brands

Index(['volkswagen', 'bmw', 'opel', 'mercedes_benz', 'audi', 'ford'], dtype='object')

We can see that there is a price gap between the top 5 brands in the sales data. We can see that cars manufactured by Audi, BMW and Mercedes Benz tend to be priced higher than the competition. Opel is the least expensive of the top 5 brands while Volkswagen is in between. This could be one of the reasons for the popularity of Volkswagen cars.

In [659]:
def all_means(most_common_brands):
    brand_mean_price = {}

    for brands in most_common_brands:
        brands_only = df[df["brand"]== brands]
        brand_meanPrice = brands_only["price"].mean()
        brand_mean_price[brands] = int(brand_meanPrice)

    brand_mean_mileage = {}

    for brands in most_common_brands:
        brands_only = df[df["brand"]==brands]
        brand_mileage = brands_only["odometer_km"].mean()
        brand_mean_mileage[brands] =  int(brand_mileage)
   
    return brand_mean_price,brand_mean_mileage

In [660]:
mean_price = pd.Series(brand_mean_price)
mean_price

volkswagen       5752
bmw              8652
opel             3167
mercedes_benz    8882
audi             9776
ford             3957
dtype: int64

In [661]:
# all_means(most_common_brands)

mean_mileage = pd.Series(brand_mean_mileage)
mean_mileage

volkswagen       128183
bmw              132489
opel             128752
mercedes_benz    130927
audi             128593
ford             124009
dtype: int64

In [662]:
top_brands_info = pd.DataFrame(mean_mileage,columns=["mean_mileage"])

In [686]:
# top_brands_info["mean_price"]=mean_price
# top_brands_info
df2 = df.copy(deep=True)


gear_box = {
"manuell":"manual",
"automatik": "automatic"
}
unrepaired_col = {
"nein":"no",
"ja": "yes"
}
vehicle_type = {
"kleinwagen":"rental car",
"kombi": "station wagon",
"cabrio":"convertible",
"andere": "others",
"suv": "suv",
"limousine":"limousine",
"bus" :"bus",
"coupe":"coupe"
}

def translate_values(dataframe):
    dataframe["gearbox"] = dataframe["gearbox"].map(gear_box)
    dataframe["unrepaired"] = dataframe["unrepaired"].map(unrepaired_col)
    dataframe["vehicle_type"] = dataframe["vehicle_type"].map(vehicle_type)

In [688]:
df2["fuel_type"].value_counts()

benzin     27115
diesel     13728
lpg          620
cng           68
hybrid        37
elektro       16
andere        13
Name: fuel_type, dtype: int64

In [681]:
translate_values(df)

In [682]:
df2["unrepaired"].value_counts()

no     33532
yes     4083
Name: unrepaired, dtype: int64

In [683]:
df

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_p_s,model,odometer_km,registration_month,fuel_type,brand,unrepaired,date_created,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,5000.0,control,bus,2004,manual,158,andere,150000.0,3,lpg,peugeot,no,2016-03-26,79588,2016-03-26
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,8500.0,control,limousine,1997,automatic,286,7er,150000.0,6,benzin,bmw,no,2016-04-04,71034,2016-04-04
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,8990.0,test,limousine,2009,manual,102,golf,70000.0,7,benzin,volkswagen,no,2016-03-26,35394,2016-03-26
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350.0,control,rental car,2007,automatic,71,fortwo,70000.0,6,benzin,smart,no,2016-03-12,33729,2016-03-12
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,1350.0,test,station wagon,2003,manual,0,focus,150000.0,7,benzin,ford,no,2016-04-01,39218,2016-04-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,24900.0,control,limousine,2011,automatic,239,q5,100000.0,1,diesel,audi,no,2016-03-27,82131,2016-03-27
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,1980.0,control,convertible,1996,manual,75,astra,150000.0,5,benzin,opel,no,2016-03-28,44807,2016-03-28
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,13200.0,test,convertible,2014,automatic,69,500,5000.0,11,benzin,fiat,no,2016-04-02,73430,2016-04-02
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,22900.0,control,station wagon,2013,manual,150,a3,40000.0,11,diesel,audi,no,2016-03-08,35683,2016-03-08
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,1250.0,control,limousine,1996,manual,101,vectra,150000.0,1,benzin,opel,no,2016-03-13,45897,2016-03-13